.jumbotron{
    background: darkblue;
    color: honeydew;
    font-family: "trainsfont";
}

h1{
    font-family: "trainsfont";
}

.card-header{
    background: black;
    color: honeydew;
}

#add-train-btn{
    background: darkblue;
}

