
.jumbotron{
    background: rgb(4, 4, 90);
    color: honeydew;
    margin-top: 20px;
    padding: 40px;
}


.card-header{
    background: black;
    color: honeydew;
}

#add-train-btn{
    background: rgb(4, 4, 90);
}

body{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    background: url(../images/traintrack.jpg);
    font-family: 'Audiowide', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Electrolize', sans-serif;
}

